@charset "utf-8";

/* ==========================================================================
	Table of Content:
	`````````````````
	* To keep an overview of structure of your code, we make use of table of 
	* content. Table of content is use display the overall tree structure of your
	* Layout. 
	* (NOTE: Remove this commented code once you start developing the code.
	* Remove the following table of content and add your own as this is just and 
	* example to let you know)
	
	1. Eric Meyer's CSS Reset Code
	2. Clear Fix
	3. Font-Face Declaration
	4. Common Stylings
	5. Header
	6. Main 
		6.1 Enter Section Name
		6.2 Enter Section Name
		6.3 Enter Section Name
	7. Footer
========================================================================== */

/* 1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
 cursor: pointer;
}

strong {
 font-weight: bold;
 font-family: inherit;
 font-size: inherit;
}

em { font-style: italic; }

img {
 border: 0;
 vertical-align: middle;
}

sub,
sup {
 vertical-align: baseline;
 position: relative;
 font-size: 55%;
 line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 3. Font-Face declaration
========================================================================== */

 /* ======= Your styling goes below ======= */
 /*4. Common Stylings
 =======================================================================*/
*{
	transition: .3s ease-in-out;
	scroll-behavior: smooth;
}
a{
	color:white;
	text-decoration:none;

}
/*5. wrapper
====================================================================*/
.wrapper{
	max-width: 1476px;
	width:85%;
	margin:0 auto;
}


/*6. header
===============================================================*/
 header{
 	background:transparent;
 	padding:22px;
 	position: absolute;
 	width: 90%;
 	z-index: 1;

 }
 nav ul{
 	display:flex;
 	justify-content: space-between;
 }

nav a{
	padding:22px 4px;

}
nav a:hover{
	opacity: .7;
}
/*7. banner
=======================================================================*/
.banner{
	background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B1eYNZGrripnnry82/on-the-table-at-cafe-blurred-background_bv98n_63_thumbnail-full01.png') no-repeat center/cover ;
	padding:230px;
	position:relative;

}
.banner .wrapper h2{
	position:absolute;
	color:white;
	font-size:60px;
	left:40%;
	top:40%;
	filter: drop-shadow(8px 8px 10px gray);
	font-family: 'Dancing Script', cursive;
	font-weight: 900;
}
.banner .time{
	background:black;
	display:inline-block;
	color:white;
	position:absolute;
	bottom:20px;
	left:10px;
	padding:8px;
	background:rgba(0,0,0,.5);
	font-family: 'Satisfy', cursive;
	border-radius: 20px;
}
.banner .address{
	display:inline-block;
	color:white;
	position:absolute;
	bottom:20px;
	right:10px;
	background:rgba(0,0,0,.5);
	padding:8px;
	font-family: 'Satisfy', cursive;
	border-radius: 20px;
}
.banner p a:hover{
	opacity: .8;
}
/*8. About
=============================================================================*/
.about{
	background:#f7f5f1;
	padding: 100px 100px 50px 100px;
	text-align: center;
}
.about h3{
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
	background:rgba(0,0,0,.2);
	border-radius: 20px;
	display:inline-block;
	padding:10px;
	margin-bottom: 35px;
}
.about img{
	width:100%;
}
.about .para span{
	display:block;
	margin-bottom: 35px;
}
.about .para{
	text-align: left;
	font-size:20px;
	font-family: 'Satisfy', cursive;
	font-weight: 400;
	margin-bottom: 35px;
	padding:10px;
}
.about .note{
	text-align:left;
	font-family: 'Shadows Into Light', cursive;
	font-size:20px;
	background: #f1f1f1;
	border-left: 5px solid #cccccc;
	margin:20px 0;
	padding:10px 0;
}
.about .note span{
	margin-top:10px;
	display:block;
	font-family: 'Shadows Into Light', cursive;
	font-size:20px;
}
.open, .address{
	text-align:left;
	padding:10px 0;
	font-family: 'Shadows Into Light', cursive;
	font-size:20px;
}
.open span{
	font-family: 'Satisfy', cursive;
	font-weight: 700;
}
.address span{
	font-family: 'Satisfy', cursive;
	font-weight: 700;
}
/*9. Where section
==================================================================================*/
.where{
	background:#f7f5f1;
	padding: 0  100px 50px 100px;
}

.where h3{
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
	background:rgba(0,0,0,.2);
	border-radius: 20px;
	display:inline-block;
	padding:10px;
	margin-left:36%;
	margin-bottom: 35px;
}
.where__para{
	font-size:20px;
	font-family: 'Shadows Into Light', cursive;
	margin:0 0 35px 0;

}
.where img{
	width: 100%;
}
.where figure{
	width:104.3%;
	margin-bottom: 35px;
}
.where__para--2 span{
	color:white;
	background:black;
	border-radius: 20px;
	font-family: 'Shadows Into Light', cursive;
	padding:0 10px;
}
.where__para--2, .where__reserve{
	color:black;
	line-height: 1.618;
	font-family: 'Satisfy', cursive;
	font-size: 20px;
}

/*10 Contact Us
=================================================================================*/
.contactus{
	background:#f7f5f1;
	padding: 0  100px 50px 100px;
	text-align: center;
}
.contactus h4{
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
	background:rgba(0,0,0,.2);
	border-radius: 20px;
	display:inline-block;
	padding:10px;
	margin-bottom: 35px;
}
input[type=text]{
	display:block;
	width:60%;
	margin: 0 auto;
	font-size: 20px;
	margin-bottom: 10px;
	padding:10px 5px;
	border-radius: 20px;
	font-family: 'Dancing Script', cursive;
	
}
textarea{
	width:60%;
	font-size: 20px;
	padding:10px 5px;
	border-radius: 20px;
	resize: none;
	margin:0 0 5px 0;
	font-family: 'Dancing Script', cursive;

}
input[type=submit]{
	display: block;
	background:black;
	color:white;
	margin:0 auto;
	width: 62%;
	margin-bottom: 10px;
	font-size:20px;
	border-radius: 20px;
	height:50px;
}
/*11 Footer
==========================================================================*/
footer{
	background:#f1f1f1;
	padding:50px;
	text-align:center;
	font-size:20px;
	font-family: 'Dancing Script', cursive;

}
/*12. media queries
===============================================================================*/

 @media screen and (max-width:840px) {
 	/*1 wrapper
 	==================================================================*/
 	.wrapper{
		max-width: 1476px;
		width:90%;
		margin:0 auto;
	} 
	/*2. header
	===================================================================*/
	 header{
	 	background:transparent;
	 	position: absolute;
	 	width: 94.3%;
	 	z-index: 1;
	 }
	 nav a{
		padding:0 0;
	}
	/*3. banner
	=================================================================*/
	.banner{
		padding:280px 0;
	}
	.banner .address{
		font-size:15px;
	}
	/*3. about section
	===================================================================*/
	.about{
		padding: 75px 100px 50px 100px;
	}
	.about h3{
		background:rgba(0,0,0,.1);
	}
	.about .para{
		padding:10px 0;
	}

	/*4. where to find section
	==========================================================================*/

	.where h3{
		background:rgba(0,0,0,.1);
		padding:10px 48px;
		margin-left: 16%;
	}
	.where figure{
		width: 100%;
	}
	/*5. contactus
	===========================================================================*/
	.contactus h3{
		background:rgba(0,0,0,.1);
	}
	input[type="text"]{
		width:80%;
		padding:8px 3px;
		font-size:15px;
	}
	textarea{
		width:80%;
		padding:8px 3px;
		font-size:15px;
	}
	input[type="submit"]{
		width:82%;
		padding:8px 3px;
	}
}

@media screen and (max-width:434px){
	/*1.wrapper
	================================================================*/
	.wrapper{
		max-width: 1476px;
		width:90%;
		margin:0 auto;
	}

	/*2 header
	==================================================================*/
	header{
	 	background:transparent;
	 	position: absolute;
	 	width: 88%;
	 	z-index: 1;
	 }
	 nav a{
		padding:0 0;
	}
	/*3 banner
	==================================================================*/
	.banner .wrapper h2{
		font-size:50px;
		left:28%;
		top:40%;
		filter: drop-shadow(8px 8px 10px gray);
	}
	/*4. About section
	========================================================================*/
	.about{
		padding: 30px 10px;
	}
	/*5. where to find section
	==========================================================================*/
	
	.where{
		padding:10px;
	}
	.where h3 {
	    background: rgba(0,0,0,.1);
	    padding: 10px;
	    margin-left: 11%;
	}
	/*6. Contact Us
	============================================================================*/
	.contactus{
		padding:10px;
	}
}

@media screen and (max-width:380px){
	/*1 wrapper
	=================================================================== */
	.wrapper{
		max-width: 1476px;
		width:90%;
		margin:0 auto;
	} 

	/*2. header
	===================================================================*/
	 header{
	 	background:transparent;
	 	position: absolute;
	 	width: 88%;
	 	z-index: 1;
	 }
	 nav a{
		padding:0 0;
	}

	/*3. banner
	====================================================================*/
	.banner{
		background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B1eYNZGrripnnry82/on-the-table-at-cafe-blurred-background_bv98n_63_thumbnail-full01.png') no-repeat center/cover ;
		padding:200px 0;
		position:relative;

	}
	.banner .wrapper h2{
		font-size:50px;
		left:28%;
		top:40%;
		filter: drop-shadow(8px 8px 10px gray);
	}
	.banner .time{
		display:none;
	}
	.banner .address{
		bottom:10px;
		font-size:15px;
		right:10px;
		padding:8px;
		
	}
	/*4. About section
	========================================================================*/
	.about{
		padding: 30px 10px;
	}
	.about h3{
		background:rgba(0,0,0,.1);
		padding:10px 45px;
	}
	.about img{
		width:120%;
	}
	.about figure{ width:83%;}
	
	/*5. where to find section
	==========================================================================*/
	
	.where{
		padding:10px;
	}
	.where h3{
		background:rgba(0,0,0,.1);
		padding:10px 23px;
		margin-left: 0%;
	}
	.where img{
		width:120%;
	}
	.where figure{ width:83%;}

	/*6. Contact Us
	============================================================================*/
	.contactus{
		padding:10px;
	}
	.contactus h4{
		background: rgba(0,0,0,.1);
		padding:10px 74px;
	}
	input[type="text"]{
		width:80%;
		padding:8px 3px;
		font-size:15px;
	}
	textarea{
		width:80%;
		padding:8px 3px;
		font-size:15px;
	}
	input[type="submit"]{
		width:85%;
		padding:8px 3px;
	}
	/*7. footer
	============================================================================*/
	footer p{
		font-size:25px;
	}
	
}
 




